body, html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.image-container {
    position: relative; 
    width: 100%;
    z-index: 3;
}
.overlay-text {
    position: absolute; 
    top: 20px; 
    left: 30px; 
 
}
.links{
    margin-left: 600px;
    display: flex;
    justify-content: space-between;
}
.indextitle{
    color: rgb(107, 5, 5);
}
.firsttitle{
    margin-top: 90px;
    margin-left: 100px;
}
.secondtitle{
    margin-top: 120px;
    margin-left: 100px;
}
.cardaboutus{
    position: absolute;
    left: 0;
    width: 380px;
    height: 480px;
    background-color: rgb(107, 5, 5);
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    padding-left: 0px;
    margin-top: 30px;
    margin-left: -30px;
}
.footer{
    background-color: rgb(107, 5, 5);
    height: 200px;
    width: 1400px;
    width: 100%;
    padding: 20px;
}
.aboutus{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.textaboutus{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 30px;
}
.cardcontactus{
    margin-left: auto;
    position: absolute;
    top: 40;
    right: 0;
    width: 380px;
    height: 480px;
    background-color: rgb(107, 5, 5);
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
    padding-right: 0px;
    margin-top: 30px;

    margin-right: -230px;
}
.contactus{
    display: flex;
    flex-direction: row;
}
.textcontactus{
    margin: 40px;
    margin-left: 100px;
}
.navlinks{
    color: white;
}
.brandcard{
    width: 250px;
    height: 320px;
    background-color: rgb(107, 5, 5);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}
.brandcardd{
    width: 250px;
    height: 320px;
    background-color: rgb(177, 48, 48);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}
.navigator{
    margin-left: 550px;
}