.image-container {
    position: relative; 
    width: 100%;
    z-index: 3;
}
.overlay-text {
    position: absolute; 
    top: 20px; 
    left: 30px; 
    padding: 10px; 
}
.links{
    margin-left: 600px;
    display: flex;
    justify-content: space-between;
}
.indextitle{
    color: rgb(107, 5, 5);
}
.firsttitle{
    margin-top: 90px;
    margin-left: 100px;
}
.secondtitle{
    margin-top: 120px;
    margin-left: 100px;
}
